body{
    position: absolute;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.sun{
    position: absolute;
    width: 135px;
    height: 135px;
    background-color: rgb(241, 189, 17);
    box-shadow: 0px 0px 20px 20px rgba(241, 189, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: pulse-shadow 6s infinite;
}

@keyframes pulse-shadow {
    0% {
        box-shadow: 0 0 10px rgba(255, 208, 0, 0.24);
    }
    50% {
        box-shadow: 0 0 30px rgba(219, 202, 52, 0.596);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 217, 0, 0.712);
    }
}

.mercury-rot{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0);
    animation: rotate 10s infinite linear;
}

.mercury{
    position: absolute;
    width: 35px;
    height: 35px;
    background-image:linear-gradient(-180deg, rgb(0, 0, 0), rgb(145, 140, 140));
    border-radius: 50%;
}

.venus-rot{
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: rgba(0, 255, 255, 0);
    animation: rotate 12s infinite linear;
}

.venus{
    position: absolute;
    height: 55px;
    width: 55px;
    background-image: linear-gradient(-180deg, rgb(0, 0, 0), rgb(202, 162, 53));
    border-radius: 50%;
}

.earth-rot{
    position: absolute;
    width: 750px;
    height: 750px;
    background-color: rgba(0, 255, 255, 0);
    animation: rotate 15s infinite linear;
}

.earth{
    position: absolute;
    width: 65px;
    height: 65px; 
    background-image: linear-gradient(rgb(0, 0, 0), rgb(63, 63, 180));
    background-color: blue;
    border-radius: 50%;
}

.moon-rot{
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: rgba(0, 255, 255, 0);
    animation: rotate 10s infinite linear;
}

.moon{
    width: 17px;
    height: 17px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(136, 132, 132));
    border-radius: 50%;
}

@keyframes rotate {
    100% {
      transform: rotate(0deg);
    }
    0% {
      transform: rotate(360deg);
    }
  }

.star1{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.712);
    top: 110px;
    left: 1000px;
    border-radius: 50%;
    animation: pulse 3s infinite;
}

.star2{
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.712);
    bottom: 300px;
    right: 1000px;
    border-radius: 50%;
    animation: pulse 3s infinite;
}

.star3{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.712);
    top: 200px;
    right: 700px;
    border-radius: 50%;
    animation: pulse 3s infinite;
}

.star4{
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.712);
    bottom: 600px;
    left: 100px;
    border-radius: 50%;
    animation: pulse 3s infinite;
}

.star5{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.712);
    top: 400px;
    left: 600px;
    border-radius: 50%;
    animation: pulse 3s infinite;
}

.star6{
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.712);
    bottom: 350px;
    left: 700px;
    border-radius: 50%;
    animation: pulse 3s infinite;
}

.star7{
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.712);
    top: 600px;
    right: 300px;
    border-radius: 50%;
    animation: pulse 3s infinite;
}

.star8{
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.712);
    bottom: 450px;
    right: 300px;
    border-radius: 50%;
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 30px rgb(255, 255, 255);
    }
    50% {
        box-shadow: 0 0 70px rgba(255, 255, 255, 0.596);
    }
    100% {
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.712);
    }
}